on:
  workflow_call:
    inputs:
      dotnet-version:
        required: false
        type: string
    secrets:
      FETCH_TOKEN:
        required: false
    outputs:
      solution-version:
        description: 'The repository version, based on git history'
        value: ${{ jobs.detect-version.outputs.version }}

jobs:
  detect-version:
    name: Detect Version
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.gitversion.outputs.fullSemVer }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.FETCH_TOKEN || github.token }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: ${{ inputs.dotnet-version }}

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v4.2.0
      with:
        useConfigFile: true
